<a href="https://colab.research.google.com/github/RMoulla/IYT_Lille/blob/main/Copie_de_TP_Bases_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TP Python — Bases du langage**

Objectif : parcourir les bases et les fondamentaux de Python.

## 1. Premier script

In [ ]:
print("Bonjour Python !")

Bonjour Python !

## 2. Assignation et types de base

### Assignation simple et multiple

In [ ]:
x = 10
a, b = 1, 2

In [ ]:
x+1

11

In [ ]:
a + b

3

### Types de base

In [ ]:
entier = 42            # entier
reel = 3.14            # virgule flottante
texte = "Python"       # chaîne de caractère
booleen = True         # booléen

print(type(entier), type(reel), type(texte), type(booleen))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [ ]:
entier + reel

45.14

In [ ]:
"42 " + texte

'42 Python'

### Conversion de types

In [ ]:
x = "123"
print(int(x), float(x), str(456))

123 123.0 456

In [ ]:
int(x) + 1

124

## 3. Chaînes de caractères

In [ ]:
s = "Python"
print(s[0], s[-1], s[1:4])
print(s.upper(), s.lower())

print('\n')                 # Saut de ligne
prenom, age = "Alice", 34

P n yth
PYTHON python

In [ ]:
s[1]

'y'

## 4. Listes

### Création de liste

In [ ]:
L = [3, 1, 4]
L

[3, 1, 4]

### Accéder à des éléments d'une liste

In [ ]:
print("Premier élément :", L[0])
print("Dernier élément :", L[-1])
print("Sous-liste [1:4] :", L[1:4])

Premier élément : 3
Dernier élément : 4
Sous-liste [1:4] : [1, 4]

### Modification d'un élément

In [ ]:
L[2] = 300
print("Après modification :", L)

Après modification : [3, 1, 300]

### Ajout d'éléments

In [ ]:
L.append(60)               # ajoute à la fin
L.insert(2, 15)            # insère à l'indice 2
print("Après append et insert :", L)

Après append et insert : [3, 1, 15, 300, 60]

### Suppression d'éléments

In [ ]:
del L[1]                   # supprime l’élément d’indice 1
val = L.pop()              # supprime le dernier élément et le renvoie
print("Après suppressions :", L, "| élément retiré :", val)

Après suppressions : [3, 15, 300] | élément retiré : 60

### Recherche et comptage

In [ ]:
L2 = [3, 1, 4, 1, 5, 9, 1]
print("Nombre de 1 dans L2 :", L2.count(1))
print("Indice du premier 4 :", L2.index(4))

Nombre de 1 dans L2 : 3
Indice du premier 4 : 2

### Extension de liste

In [ ]:
L3 = [100, 200]
L_comb = L + L3
print("Concaténation :", L_comb)
L.extend([300, 400])
print("Après extend :", L)

Concaténation : [3, 15, 300, 100, 200]
Après extend : [3, 15, 300, 300, 400]

### Tri et inversion de liste

In [ ]:
L.sort()
print("Triée :", L)
L.reverse()
print("Inversée :", L)

Triée : [3, 15, 300, 300, 400]
Inversée : [400, 300, 300, 15, 3]

### Compréhension de liste

In [ ]:
carres_pairs = [n*n for n in L]
print(carres_pairs)

[160000, 90000, 90000, 225, 9]

### Copie vs référence

In [ ]:
L2 = L
L2.append(9)
print("Alias (L, L2)", L, L2)

L3 = L.copy()
L3.append(99)
print("Copie (L, L3)", L, L3)

Alias (L, L2) [400, 300, 300, 15, 3, 9] [400, 300, 300, 15, 3, 9]
Copie (L, L3) [400, 300, 300, 15, 3, 9] [400, 300, 300, 15, 3, 9, 99]

In [ ]:
L

[400, 300, 300, 15, 3, 9]

## 5. Tuples

In [ ]:
t1 = (10, 20, 30)
x, y, z = t1
print(x, y, z)

10 20 30

### Accès aux éléments

In [ ]:
print("Premier élément :", t1[0])
print("Dernier élément :", t1[-1])
print("Sous-tuple [1:3] :", t1[1:3])

Premier élément : 10
Dernier élément : 30
Sous-tuple [1:3] : (20, 30)

### Immuabilité

In [ ]:
try:
    t1[0] = 99
except TypeError as e:
    print("Erreur :", e)

Erreur : 'tuple' object does not support item assignment

## 6. Dictionnaires

### Création de dictionnaire

In [ ]:
personne = {"nom": "Alice", "age": 30, "ville": "Paris"}
print("Dictionnaire :", personne)

Dictionnaire : {'nom': 'Alice', 'age': 30, 'ville': 'Paris'}

### Accès à une valeur

In [ ]:
print("Nom :", personne["nom"])

Nom : Alice

### Ajout et modification

In [ ]:
personne["age"] = 31                   # modification
personne["profession"] = "ingénieure"  # ajout
print("Après ajout et modification :", personne)

Après ajout et modification : {'nom': 'Alice', 'age': 31, 'ville': 'Paris', 'profession': 'ingénieure'}

### Suppression d'éléments

In [ ]:
del personne["ville"]
metier = personne.pop("profession")     # retire et renvoie la valeur
print("Après suppressions :", personne, "| métier retiré :", metier)

Après suppressions : {'nom': 'Alice', 'age': 31} | métier retiré : ingénieure

### Clés, valeurs

In [ ]:
print("Clés :", list(personne.keys()))
print("Valeurs :", list(personne.values()))

Clés : ['nom', 'age']
Valeurs : ['Alice', 31]

### Conversion liste $\rightarrow$ dictionnaire

In [ ]:
cles = ["a", "b", "c"]
valeurs = [1, 2, 3]
d = dict(zip(cles, valeurs))
print("Depuis deux listes :", d)

Depuis deux listes : {'a': 1, 'b': 2, 'c': 3}

## 7. Conditions (if / elif / else)

### Condition simple

In [ ]:
# Condition simple
x = 10
if x > 0:
   print("x est positif")

x est positif

### Condition avec else

In [ ]:
y = -5
if y >= 0:
    print("y est positif ou nul")
else:
    print("y est négatif")

y est négatif

### Condition avec elif

In [ ]:
note = 14
if note >= 16:
    mention = "Très bien"
elif note >= 12:
    mention = "Assez bien"
elif note >= 10:
    mention = "Passable"
else:
    mention = "Insuffisant"
print("Mention :", mention)

Mention : Assez bien

### Combinaison de conditions

In [ ]:
# Condition avec and
age = 25
permis = True
if age >= 18 and permis:
    print("Peut conduire")
else:
    print("Ne peut pas conduire")

# Condition avec or
jour = "dimanche"
if jour == "samedi" or jour == "dimanche":
    print("C’est le week-end")
else:
    print("C’est un jour de semaine")

Peut conduire
C’est le week-end

### Conditions avec négation

In [ ]:
a = 3
if not a % 2 == 0:
    print("a est impair")

a est impair

## 8. Boucles for

### Boucle for simple

In [ ]:
fruits = ["pomme", "banane", "cerise"]
for fruit in fruits:
    print("Fruit :", fruit)

Fruit : pomme
Fruit : banane
Fruit : cerise

### Boucle for avec `range`

In [ ]:
for i in range(5):  # de 0 à 4 (on commence avec 0 en Python !)
    print("i =", i)

i = 0
i = 1
i = 2
i = 3
i = 4

### Boucle for avec pas

In [ ]:
for i in range(2, 11, 2):  # de 2 à 10 par pas de 2
    print("i pair =", i)

i pair = 2
i pair = 4
i pair = 6
i pair = 8
i pair = 10

### Boucle for avec enumerate

In [ ]:
animaux = ["chat", "chien", "lapin"]
for i, nom in enumerate(animaux, start=1):
    print(f"Animal {i} :", nom)

Animal 1 : chat
Animal 2 : chien
Animal 3 : lapin

### Boucle for sur un dictionnaire

In [ ]:
personne = {"nom": "Alice", "age": 30, "ville": "Lyon"}
for cle, valeur in personne.items():
    print(cle, ":", valeur)

nom : Alice
age : 30
ville : Lyon

### Boucle for sur plusieurs listes avec `zip`

In [ ]:
noms = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
for nom, age in zip(noms, ages):
    print(f"{nom} a {age} ans")

Alice a 25 ans
Bob a 30 ans
Charlie a 35 ans

### Boucles imbriquées

In [ ]:
for i in range(1, 4):
    for j in range(1, 3):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=2, j=1
i=2, j=2
i=3, j=1
i=3, j=2

In [ ]:
ma_liste = list(range(1, 4))
print(ma_liste)
len(ma_liste)

[1, 2, 3]

3

## 9. Fonctions

### Fonction simple

In [ ]:
def saluer():
    #Affiche un message de bienvenue
    print("Bonjour et bienvenue !")

saluer()

Bonjour et bienvenue !

### Fonctions avec arguments

In [ ]:
def addition(a, b):
    """Renvoie la somme de deux nombres."""
    return a + b

resultat = addition(5, 3)
print("Résultat de l’addition :", resultat)

Résultat de l’addition : 8

### Valeurs d'arguments par défaut

In [ ]:
def presentation(nom, age=25):
    """Affiche une présentation avec un âge par défaut."""
    print(f"Je m'appelle {nom} et j'ai {age} ans.")

presentation("Alice")
presentation("Bob", 32)

Je m'appelle Alice et j'ai 25 ans.
Je m'appelle Bob et j'ai 32 ans.

### Arguments nommés

In [ ]:
def afficher_coordonnees(x, y):
    print(f"Coordonnées : x={x}, y={y}")

afficher_coordonnees(y=20, x=10)

Coordonnées : x=10, y=20

### Arguments variables `*args`

In [ ]:
def somme(*nombres):
    """Calcule la somme de plusieurs nombres."""
    return sum(nombres)

print("Somme :", somme(1, 2, 3, 4, 5))

Somme : 15

### Arguments nommés variables `**kwargs`

In [ ]:
def afficher_infos(**infos):
    """Affiche les informations passées sous forme de mots-clés."""
    for cle, valeur in infos.items():
        print(cle, ":", valeur)

afficher_infos(nom="Alice", age=30, ville="Lyon")

nom : Alice
age : 30
ville : Lyon

### Variable globale vs variable locale

In [ ]:
x = 5
def afficher():
    #global x
    x = 10
    print("x dans la fonction :", x)

afficher()
print("x en dehors :", x)

x dans la fonction : 10
x en dehors : 5

### Fonction `lambda`

In [ ]:
carre = lambda n: n ** 2
print("Carré de 5 :", carre(5))

Carré de 5 : 25